$font-family-primary: "RobotoDraft", "Helvetica Neue", Helvetica, Arial;

$palette-primary-main: #6200ee;
$palette-primary-variant: #7300b3;
$palette-secondary-main: #03dac6;
$palette-secondary-variant: #018786;
$palette-text-main: #000000;
$palette-text-contrast: #ffffff;

body {
  color: $palette-primary-main;
}
